.wrapSectionSlider {
  @apply max-h-full 
  max-w-full h-full flex flex-col justify-between overflow-hidden gap-1
  outline outline-1 outline-orange-700;
}

.wrapSlider {
  @apply flex-grow flex  flex-col;
}

.slickSlider {
  @apply h-full flex  flex-col;
}

.image {
  @apply max-h-fit w-full max-w-full ml-auto mr-auto;
  /* @apply h-[50%] w-[50%] ml-auto mr-auto; */
}

/* & .slider {
    @apply h-full w-full;
  } */

/* & .slick-list {
    @apply overflow-hidden h-full w-full;
  }

  

  & .slick-track {
    display: flex;
    height: 100%;
    width: 100%;
  }

  & .slick-arrow {
    display: none;
  } */
